<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Заказы Trucker</title>
  </head>
  <body>
  <img src="https://trucker.group/lite//img/logo.2cc9c42d.svg" alt="Trucker">

    <br/>
    <br/>
  <span class="badge badge-danger">Перевозчик не найден</span>
     <span class="badge badge-primary">Перевозчик найден</span>
      <span class="badge badge-success">Заказ выполнен</span>

    <p> Заказ не подтвержден - <button type="button" class="btn btn-outline-danger"> </button></p>



     <!-- <span class="badge badge-danger">Заказ отменен</span>-->

  <button type="button" class="btn btn-success">Создать заказ</button>
    <br/>
    <br/>


<table class="table table-bordered table-sm table-striped">

 <thead class="thead-dark">
    <tr>
    {% now "d" as today%}

      <th style="width: 3%" scope="col">Откуда</th>
      <th style="width: 3%" scope="col">Куда</th>

      <th style="width: 3%" scope="col" {% if today == '1'%} class="bg-info" {% endif %} >1</th>
      <th style="width: 3%" scope="col" {% if today == '2'%} class="bg-info" {% endif %} >2</th>
      <th style="width: 3%" scope="col" {% if today == '3'%} class="bg-info" {% endif %} >3</th>
      <th style="width: 3%" scope="col" {% if today == '4'%} class="bg-info" {% endif %} >4</th>
      <th style="width: 3%" scope="col" {% if today == '5'%} class="bg-info" {% endif %} >5</th>
      <th style="width: 3%" scope="col" {% if today == '6'%} class="bg-info" {% endif %} >6</th>
      <th style="width: 3%" scope="col" {% if today == '7'%} class="bg-info" {% endif %} >7</th>
      <th style="width: 3%" scope="col" {% if today == '8'%} class="bg-info" {% endif %} >8</th>
      <th style="width: 3%" scope="col" {% if today == '9'%} class="bg-info" {% endif %} >9</th>
      <th style="width: 3%" scope="col" {% if today == '10'%} class="bg-info" {% endif %} >10</th>
      <th style="width: 3%" scope="col" {% if today == '11'%} class="bg-info" {% endif %} >11</th>
      <th style="width: 3%" scope="col" {% if today == '12'%} class="bg-info" {% endif %} >12</th>
      <th style="width: 3%" scope="col" {% if today == '13'%} class="bg-info" {% endif %} >13</th>
      <th style="width: 3%" scope="col" {% if today == '14'%} class="bg-info" {% endif %} >14</th>
      <th style="width: 3%" scope="col" {% if today == '15'%} class="bg-info" {% endif %} >15</th>
      <th style="width: 3%" scope="col" {% if today == '16'%} class="bg-info" {% endif %} >16</th>
      <th style="width: 3%" scope="col" {% if today == '17'%} class="bg-info" {% endif %} >17</th>
      <th style="width: 3%" scope="col" {% if today == '18'%} class="bg-info" {% endif %} >18</th>
      <th style="width: 3%" scope="col" {% if today == '19'%} class="bg-info" {% endif %} >19</th>
      <th style="width: 3%" scope="col" {% if today == '20'%} class="bg-info" {% endif %} >20</th>
      <th style="width: 3%" scope="col" {% if today == '21'%} class="bg-info" {% endif %} >21</th>
      <th style="width: 3%" scope="col" {% if today == '22'%} class="bg-info" {% endif %} >22</th>
      <th style="width: 3%" scope="col" {% if today == '23'%} class="bg-info" {% endif %} >23</th>
      <th style="width: 3%" scope="col" {% if today == '24'%} class="bg-info" {% endif %} >24</th>
      <th style="width: 3%" scope="col" {% if today == '25'%} class="bg-info" {% endif %} >25</th>
      <th style="width: 3%" scope="col" {% if today == '26'%} class="bg-info" {% endif %} >26</th>
      <th style="width: 3%" scope="col" {% if today == '27'%} class="bg-info" {% endif %} >27</th>
      <th style="width: 3%" scope="col" {% if today == '28'%} class="bg-info" {% endif %} >28</th>
      <th style="width: 3%" scope="col" {% if today == '29'%} class="bg-info" {% endif %} >29</th>
      <th style="width: 3%" scope="col" {% if today == '30'%} class="bg-info" {% endif %} >30</th>
      <th style="width: 3%" scope="col" {% if today == '31'%} class="bg-info" {% endif %} >31</th>

    </tr>
  </thead>
  <tbody>
      {% for destination in destinations %}
    <tr>
      <th scope="row">{{destination.0}}</th>
      <th scope="row">{{destination.1}}</th>
        {%for day in destination.2%}
          <th scope="col">
            {%for order in day %}
              {%if order.status == 8%}
            <!---    <button type="button" class="btn btn-danger btn-sm"></button>--->
              {%elif order.status == 3%}
                <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#exampleModal" data-order_id="{{order.id}}"  data-order_description="{{order.description}}" data-order_date_from="{{order.date_from|date:'Y-m-d'}}" data-order_date_to="{{order.date_from|date:'Y-m-d'}}"></button>
              {%elif order.status == 6 or order.status == 9%}
                <button type="button" class="btn btn-outline-danger"  data-toggle="modal" data-target="#exampleModal" data-order_id="{{order.id}}"  data-order_description="{{order.description}}" data-order_date_from="{{order.date_from|date:'Y-m-d'}}" data-order_date_to="{{order.date_from|date:'Y-m-d'}}"></button>
              {%elif order.status == 7%}
                <button type="button" class="btn btn-outline-primary"  data-toggle="modal" data-target="#exampleModal" data-order_id="{{order.id}}"  data-order_description="{{order.description}}" data-order_date_from="{{order.date_from|date:'Y-m-d'}}" data-order_date_to="{{order.date_from|date:'Y-m-d'}}"></button>
              {%else%}
                {{order.status}}-{{order.id}}<br/>
              {%endif%}
            {%endfor%}
          </th>
        {%endfor%}

    </tr>
      {%endfor%}

  </tbody>
</table>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Заказ -</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>

              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Актуален</label>
              </div>

              <div class="form-group">
                <label for="message-text" class="col-form-label">Комментарий:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="form-group">
               <label >Дата погрузки:</label>
               <input type="date" name="bday" max="3000-12-31"  id="date-from"
                      min="1000-01-01" class="form-control">
              </div>
              <div class="form-group">
               <label >Дата выгрузки:</label>
               <input type="date" name="bday" min="1000-01-01"  id="date-to"
                      max="3000-12-31" class="form-control">
              </div>



            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-danger">Отменить</button>
            <button type="button" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
         $(document).ready(function() {

          $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var order_id = button.data('order_id') // Extract info from data-* attributes
            var order_description = button.data('order_description') // Extract info from data-* attributes
            var order_date_from = button.data('order_date_from') // Extract info from data-* attributes
            var order_date_to = button.data('order_date_from') // Extract info from data-* attributes

            var modal = $(this)
            modal.find('.modal-title').text('Заказ ' + order_id)
            modal.find('#message-text').val(order_description)
            modal.find('#date-from').val(order_date_from)
            modal.find('#date-to').val(order_date_to)
          });
        });
    </script>

  </body>
</html>